<style>
  .card{
    max-width: 35rem;
    max-height: 25rem;
  }
</style>

<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div>
    <div class="row d-flex justify-content-center">
      <div class="card   mb-3" >
        <div class="card-header">
          <h3 class="card-title">The question</h3>
        </div>
        <div class="card-body">
          <h5>Как вы относитесь к сушеным бананам, выращенным на почве Марса?</h5>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col">
        <button class="btn inform border-primary">Как вы относитесь к сушеным бананам, выращенным на почве Марса? 1</button>
      </div>
      <div class="col">
        <button class="btn btn-inform border-primary">Как вы относитесь к сушеным бананам, выращенным на почве Марса? 2</button>
      </div>
      <div class="col">
        <button class="btn btn-inform border-primary">Как вы относитесь к сушеным бананам, выращенным на почве Марса? 3</button>
      </div>
    </div>
  </div>
</div>
